@{
    @model cinemanic.Models.Order

    <h1>Potwierdzenie Płatności</h1>

    <p>Dziękujemy za skorzystanie z naszych usług. Poniżej zamieszczamy szczegóły zamówienia.</p>

    <div class="container">
        <h4>ID zamówienia: @Model.Id</h4>
        <p>Status zamówienia: ZAKOŃCZONE</p>
        @{
            int ticketNr = 1;
            <div class="accordion" id="accordion">
                @foreach (var ticket in Model.Tickets)
                {
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading@(ticketNr)">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse@(ticketNr)" aria-controls="collapse@(ticketNr)">
                                <p><strong>#@(ticketNr) </strong>@ticket.Screening.Movie.Title</p>
                            </button>
                        </h2>
                        <div id="collapse@(ticketNr)" class="accordion-collapse collapse" aria-labelledby="heading@(ticketNr)" data-bs-parent="#accordion">
                            <div class="accordion-body">
                                <p><strong>Data Seansu:</strong> @(ticket.Screening.ScreeningDate.ToString())</p>
                                <img src="https://image.tmdb.org/t/p/w500/@ticket.Screening.Movie.PosterPath" onerror="this.src='/placeholders/placeholder.jpg';">
                                <p><strong>Numer miejsca:</strong> @ticket.Seat</p>
                            </div>
                        </div>
                    </div>
                    ticketNr++;
                }
            </div>
        }
        
    </div>
}
