body {
}

#myCarousel {
    width: 80%;
    margin: auto;
}

.carousel-item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.carousel-caption {
    bottom: 50%;
    transform: translateY(50%);
}

.post-images {
    height: 250px;
}

.screeningDatesList {
    list-style: none;
    padding-inline-start: 0px;
    text-align: right !important;
}

.moviePoster {
    width: 10rem;
    height: 15rem;
    object-fit: cover;
}

.restrict-length {
    height: 150px !important;
    overflow: hidden;
}

.account-pics {
    height: 10rem;
    width: 8rem;
}