body {
}

#myCarousel {
    width: 80%;
    margin: auto;
}

.carousel-item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.carousel-caption {
    bottom: 50%;
    transform: translateY(50%);
}

.post-images {
    height: 250px;
}

.screeningDatesList {
    list-style: none;
    padding-inline-start: 0px
}

.moviePoster {
    width: 100%;
    height: 100%;
    object-fit: cover;
}